<h3>Editar Vuelo</h3>
<h3>{{vuelo.id}}</h3>
<table style="width:80%">
        <tr>
            <td>Id</td>
            <td>Codigo Vuelo</td>
            <td>Fecha Salida de Vuelo</td> 
            <td>Fecha Llegada de Vuelo</td>
            <td>Ciudad Origen</td>
            <td>Ciudad Destino</td>
            <td>Escalas Vuelo</td>
            <td>Estado Vuelo</td>
        </tr>
        <tr>
            <td>{{$index+1}}</td>
            <td>{{vuelo.codigoVuelo}}</td>
            <td>{{vuelo.fechaSalidaVuelo}}</td> 
            <td>{{vuelo.fechaLlegadaVuelo}}</td>
            <td>{{vuelo.origenVuelo}}</td>
            <td>{{vuelo.destinoVuelo}}</td>
            <td>{{vuelo.escalasVuelo}}</td>
            <td>{{vuelo.estadoVuelo}}</td>
        </tr>
</table>

    <div class="col-sm-4">
        <form ng-submit="editarVuelo(vuelo)">
            
            <div class="form-group">
                <label for="codigoVuelo">Codigo Vuelo</label>
                <input ng-model="vuelo.codigoVuelo" type="text" class="form-control" ng-Bind="vuelo.codigoVuelo" ng-mouseleave="generarCodigo()" id="codigo" placeholder="Ingresa un Codigo" >
            </div>
            <div class="form-group">
                <label for="idnombre">Fecha de Salida</label>
                <input ng-model="vuelo.fechaSalidaVuelo" ng-mouseleave="generarCodigo()" ng-mouseenter="fechaMinLlegada()" type="Date" class="form-control" id="idnombre" min="{{minDate | date:'yyyy-MM-dd'}}" placeholder="Ingresa una Fecha de Salida" >
            </div>
            
            <div class="form-group">
                <label for="idnombre">Fecha de Llegada</label>
                <input ng-model="vuelo.fechaLlegadaVuelo" type="Date" class="form-control" id="idnombre" min="{{minLlegadaDate | date:'yyyy-MM-dd'}}" placeholder="Ingresa una Fecha de Llegada" >
            </div>
 			<label for="lugOrigen">Lugar de Origen</label>
  				<select name="lugOrigen" id="lugOrigen" ng-mouseleave="generarCodigo();fijarEscala();" ng-model="vuelo.origenVuelo" ng-change="cambiarDestino()" class="form-control">
    				
    				<option ng-repeat="ciudad in listaCiudadesOrigen" value="{{ciudad.codigo}}">{{ciudad.ciudad}}</option>
    				
  				</select>
  			<label for="lugDestino">Lugar de Destino</label>
  				<select name="lugDestino" id="lugDestino" ng-model="vuelo.destinoVuelo" class="form-control">
    				<option ng-repeat="ciudad in listaCiudadesDestino" value="{{ciudad.codigo}}">{{ciudad.ciudad}}</option>
  				</select>
  				<script>selectInCombo('lugDestino','option2')</script>
            <div class="form-group">
                <label for="idnombre">Escalas</label>
                <input ng-model="vuelo.escalasVuelo" type="text" class="form-control" id="idnombre" ng-Bind="vuelo[$id].escalasVuelo" placeholder="Ingresa las Escalas" >
            </div>
  			<label for="estado">Estado</label>
  				<select name="estado" id="idnombre" ng-model="vuelo.estadoVuelo" class="form-control">
    				
    				<option ng-repeat="estado in listaEstado" value="{{estado.codigo}}">{{estado.estado}}</option>
  				</select>
            <button type="submit" class="btn btn-success">Editar</button>
        </form>
    </div>
        
